#============= hal_wifi_default ==============
allow hal_wifi_default self:capability dac_override;
allow hal_wifi_default vendor_tombstone_data_file:dir search;
