#============= mediadrmserver ==============
allow mediadrmserver media_data_file:dir { read write create open add_name search getattr };
allow mediadrmserver media_data_file:file { write open read create getattr };
