#============= mediadrmserver ==============
allow mediadrmserver media_data_file:dir { write create add_name search getattr };
allow mediadrmserver media_data_file:file { write open read getattr };
